.dataviz{
  margin-top: -2rem;

  .menu{
    margin-bottom: 2rem;
  }

  iframe{
    overflow-x:hidden;
    overflow-Y:hidden;
  }

  .dataviz-embedded{
    &:not(.autoheight){
      height: rem-calc(250px);
      @include breakpoint(medium) {
        height: rem-calc(450px);
      }

      @include breakpoint(large){
        height: rem-calc(800px);
      }
    }

    &.total_interactions{
      height: rem-calc(600px);
      @include breakpoint(medium) {
        height: rem-calc(800px);
      }

      @include breakpoint(large){
        height: rem-calc(800px);
      }
    }

    width: 100%;
    border: 0;
  }

  @include breakpoint(large){
    .mobile-devices-alert{
      display: none;
    }
  }
}