//Process cards - home and processes
.card--full__image {
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: image-url("barcelona/pattern-big.svg") no-repeat left top;
    z-index: 0;
    background-size: 32px;
    @include breakpoint(medium) {
      background-size: 90px;
    }
    @include breakpoint(mediumlarge) {
      background-size: 160px;
    }
    @include breakpoint(large) {
      background-size: 120px;
    }
  }
}

.card--process .card__image-top {
  position: relative;
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: image-url("barcelona/pattern.svg") no-repeat left bottom;
    z-index: 0;
    background-size: 40px;
  }
}

.card--process.card--mini .card__image-top:after {
  background-size: 32px;
}
