<div class="row accountability">
  <div class="small-12 columns">
    <%= render partial: "home_header" %>
    <% if current_participatory_space.slug.to_s == "PressupostosParticipatius" %>
      <%= render partial: "home_scopes" %>
    <% end %>
    <%= render partial: "home_categories", locals: { show_category_image: current_participatory_space.slug.to_s == "forumjoveBCN" } %>
  </div>
</div>

<%= javascript_pack_tag "decidim_accountability" %>
