<div class="row accountability">
  <div class="small-12 columns">
    <%= render partial: "home_header" %>
    <% if current_participatory_space.slug.to_s == "PressupostosParticipatius" %>
      <%= render partial: "home_scopes" %>
    <% end %>
    <%= render partial: "home_categories" %>
  </div>
</div>

<%= javascript_include_tag "decidim/accountability/accountability" %>