<div id="breadcrumb-secondary-dropdown-<%= id %>" class="menu-bar__secondary-dropdown">
  <div class="menu-bar__secondary-dropdown__left">
    <%= render :metadata %>
  </div>
  <ul class="menu-bar__secondary-dropdown__menu">
    <%= render :links %>
  </ul>
</div>
