// This is a file that can be overridden by the application in order to override styles
// Notice that this file is included at the very end of the stylesheets packs to have
// more priority
//
// To override CSS variables or Foundation settings use _decidim-settings.scss
//
// By default this is empty.

// Fix for the confirm modal showing behind the modal who generates it
#confirm-modal {
  z-index: 100;
}

.accountability_without_children {
  &__grid {
    @apply grid md:grid-cols-3 items-start gap-x-10 gap-y-8 md:gap-y-16;

    /* display the titles only for the first row in desktop */
    & > :nth-child(1) &-title {
      @apply md:block;
    }

    &-title {
      @apply block md:hidden mb-8 text-gray-2 uppercase font-semibold;
    }

    .flash {
      @apply m-0;
    }
  }
}

@media (min-width: 768px) {
  #trigger-dropdown-language-chooser {
    display: flex !important;
  }
}

.main-header__language-container > #trigger-dropdown-language-chooser {
  gap: 0.1rem !important;
  flex-direction: column;
  padding: 0.25rem 0.5rem;
  span {
    display: block;
    font-weight: 400 !important;
  }
}

#dropdown-menu-language-chooser > ul > li > a {
  font-size: 14px;
  padding: 0.75rem;
}

.mobile_menu__language-container {
  padding-top: 12px;
  padding-bottom: 12px;
}
