.budget-progress {
  .progress-meter {
    &:not(&--minimum) {
      background-color: $red-light;
    }
  }
}

#project .card.extra .button_to[action="/follow"] {
  display: none;
}

/* for budgets callouts to not hide text */
.card__content .callout.flash {
  margin-bottom: 1rem;
}
