.event-days {
  margin-top: 2rem;

  @include breakpoint(mediumlarge) {
    display: flex;
    justify-content: space-between;
  }

  &__day {
    background-color: $medium-gray;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    min-height: 12rem;
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoint(mediumlarge) {
      flex-basis: 25rem;
      min-height: 15rem;
      padding: 2rem;
      margin: 0 1rem;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    @include breakpoint(large) {
      margin: 0 2rem;
    }

    &--current {
      background-color: #22398e;
      color: #c2c9e0;
    }
  }

  &__date {
    text-transform: uppercase;
    font-size: 1rem;
    display: flex;
  }

  &__info {
    margin-top: auto;
    margin-bottom: 0;
    font-size: 1.5rem;
    line-height: 1.2;
  }

  &__number-month {
    margin-right: 0.5rem;
  }

  &__number {
    font-size: 3rem;
    line-height: 0.6;
  }

  &__month {
    text-decoration: none;
    border-bottom: 0 !important;
    display: block;
    font-size: 1rem;
    letter-spacing: 0.05em;
    line-height: 1;
    font-weight: 600;
    cursor: default !important;
    opacity: 0.6;
  }

  &__separator {
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    margin-right: 0.4rem;
    opacity: 0.6;
    margin-top: 0.5em;
  }
}
