//Vars
$main-footer-bg: $medium-gray;
$mini-footer-bg: $dark-gray;

//Common

//Main footer
.main-footer {
  background-color: $main-footer-bg;
  position: relative;
  padding: 1.5rem 0;
  min-height: 76px;
  color: $medium-gray;

  a {
    color: darken($medium-gray, 60%);

    &:hover {
      color: darken($medium-gray, 40%);
    }
  }
}

.main-footer__badge {
  display: block;
  width: 140px;

  @include breakpoint(large) {
    position: absolute;
    margin-top: -0.25rem;
  }
}

.main__footer__nav {
  text-align: center;

  @include breakpoint(medium) {
    text-align: left;
  }

  @include breakpoint(large) {
    text-align: center;
  }
}

.footer-nav {
  list-style: none;
  padding-top: 0.5rem;
  margin: 0 0 0 -1rem;

  li {
    display: inline-block;
    padding: 0 1rem;
  }

  @include breakpoint(large) {
    margin-left: 0;
  }
}

.main__footer__social {
  text-align: center;

  @include breakpoint(medium) {
    text-align: right;
  }
}

.footer-social {
  list-style: none;
  padding-top: 0.5rem;
  margin: 0;

  li {
    display: inline-block;
    padding-left: 1rem;

    &:first-child {
      padding-left: 0;
    }
  }
}

.footer-social__icon .icon {
  width: 16px;
  height: 16px;
}

//Mini footer
.mini-footer {
  padding: 2rem 0 1.5rem;
  background-color: $mini-footer-bg;
  color: $medium-gray;

  a {
    color: darken($medium-gray, 40%);

    &:hover {
      color: darken($medium-gray, 20%);
    }
  }
}

.cc-badge {
  margin-right: 0.5rem;
}

.decidim-logo {
  display: block;
  width: 140px;
  margin-right: auto;
  margin-left: auto;

  @include breakpoint(medium) {
    margin-top: -9px;
    margin-right: 0;
  }
}
