.hero::after {
  background-color: rgba(26, 24, 29, .2);
}

.hero-custom {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $white;

  &__container {
    position: relative;
    z-index: 1;
    padding: 3rem 0;

    @include breakpoint(medium) {
      padding: 4rem 0;
    }

    @include breakpoint(mediumlarge) {
      padding: 5rem 0;
    }

    @include breakpoint(large) {
      padding: 6rem 0;
    }
  }

  &__main {
    @include breakpoint(mediumlarge) {
      display: flex;
      align-items: center;
      margin-bottom: 4rem;
    }
  }

  &__heading {
    margin-bottom: 2rem;
    font-weight: 800;
  }

  &__cta {
    padding: 1.2rem 1rem;
    margin-top: 2rem;
    min-width: 16rem;
  }

  &__image {
    min-height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
