//Section heading
.section-heading.section-heading::before {
  //double selector to increase specificity
  background: url("images/heading-icon.svg") no-repeat center;
  width: 0.9rem;
  height: 0.9rem;
  margin-right: 0.3rem;
  margin-bottom: -0.11rem;
}
