<% if controller.respond_to?(:current_component) && current_component.ephemeral_participation_enabled? && current_component.ephemeral_participation_permissions.any? %>
  <div class="form__wrapper" id="ephemeral-participation-login-form">
    <div class="row">
      <div class="columns medium-8 medium-centered">
        <div class="text-center">
          <%=
            button_to(
              t("decidim.ephemeral_participation.login_modal.button"),
              decidim_ephemeral_participation.ephemeral_participants_path(component_id: current_component.id, ephemeral_participation_path: request.path),
              class: "button button__lg button__transparent-secondary",
              data: { disable: true, confirm: current_component.settings.ephemeral_participation_enabled_confirm_modal[current_locale] }
            )
          %>
          <div class="pt-6">
            <%= t("decidim.ephemeral_participation.login_modal.help") %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
