// Barcelona custom newsletter template styles

.custom-newsletter-barcelona {
  &__header {
    padding: 12px 0;
  }

  &__header-logo {
    vertical-align: middle;

    img {
      max-width: 180px;
      height: auto;
    }
  }

  &__header-date {
    text-align: right;
    vertical-align: middle;
    font-size: 14px;
    color: $email-neutral-700;
  }

  &__spacer {
    height: 40px;
    font-size: 40px;
    line-height: 40px;
  }

  &__footer {
    float: right;
    text-align: right;
    padding-right: 16px;
  }

  &__legal {
    padding: 20px;
    font-size: 12px !important;
    color: #666 !important;

    p {
      text-align: center;
      margin: 0 0 20px;
      font-size: 12px !important;
      color: #666 !important;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      font-weight: normal;
      text-decoration: none;
      color: $email-link-100 !important;
    }
  }
}
