.global-accountability {
  .row.column {
    margin: 0 auto;
    text-align: center;
    
    .page-title {
      margin-bottom: 1rem;
    }
    
    .section:not(:last-child) {
      border-bottom: 1px solid rgba($medium-gray, .5);
      padding-bottom: 3rem;
    }

    p {
      margin: 0 auto;
      max-width: 560px;
      padding-bottom: 2rem;
    }
    
    .intro--text {
      @include breakpoint(medium) {
        font-size: 1.25rem;
      }
    }
    
    .card--accountability {
      text-align: left;
      
      h4 {
        padding: 1.5rem 1.5rem 1rem 1.5rem;
        border-bottom: 1px solid $medium-gray;
        
        .icon {
          margin-right: 0.25rem;
        }
      }
      .card__content {
        padding: 0 1.5rem 1.5rem 1.5rem;
        
        ul {
          list-style: none;
          border-left: 1px solid $medium-gray;
          margin-top: 1rem;
          padding-left: 1rem;
          margin-left: 0;
          
          a {
            color: lighten($dark-gray, 30);
          }
        }
      }
    }
  }
}
