<div class="page row-full">
  <div class="row">
    <div class="more-information text small-12 medium-8 medium-centered column">
      <ul>
        <% %w{proposals meetings action_plans}.each do |item| %>
          <li class="py-4">
            <span>
              <%= link_to asset_url("/dataviz/documents/#{item}.csv"), download: "#{item}.csv", class: "button button__lg button__primary" do %>
                <%= t ".download-#{item}" %>
              <% end %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
